<div class="text-center py-3 border-bottom border-1">
  <h3 class="fw-bold mb-0">Account</h3>
  <p>Edit your account settings and change your password here.</p>
</div>
<div class="py-3 px-5">
  <form action="">
    <div class="mb-3">
      <label for="exampleInputEmail1" class="form-label">Email:</label>
      <input type="text" class="form-control" id="exampleInputEmail1" placeholder="First Name">
    </div>
    <div class="mb-3">
      <label for="exampleInputEmail1" class="form-label">Password:</label>
      <input type="text" class="form-control" id="exampleInputEmail1" placeholder="Enter Current Password">
    </div>
    <div class="mb-3">
      <input type="text" class="form-control" id="exampleInputEmail1" placeholder="Enter New Password">
    </div>
    <div class="mb-3">
      <input type="text" class="form-control" id="exampleInputEmail1" placeholder="Re-enter New Password">
    </div>
  </form>
</div>

<div class="border-top border-1 py-3 d-flex align-items-center justify-content-center">
  <button type="button" class="btn btn-danger">Save Changes</button>
</div>
