<div class="" >
  <main class="">
    <aside class="border-end border-1 d-flex flex-column flex-shrink-0 p-3 bg-light">
      <ul class="nav nav-pills flex-column mb-auto">
<!--        <li class="nav-item">-->
<!--          <a class="nav-link link-dark" routerLink="home" routerLinkActive="active">Home</a>-->
<!--        </li>-->
        <li class="nav-item">
          <a class="nav-link link-dark" routerLink="courses" routerLinkActive="active">Courses</a>
        </li>
        <li>
          <a class="nav-link link-dark" routerLink="reports" routerLinkActive="active">Reports</a>
        </li>
<!--        <li>-->
<!--          <a class="nav-link link-dark" routerLink="edit-account" routerLinkActive="active">Account</a>-->
<!--        </li>-->
      </ul>
    </aside>
    <section class="w-100" style="padding-left: 280px">
      <router-outlet></router-outlet>
    </section>
  </main>
</div>
