<div id="carouselExampleCaptions" class="carousel slide carousel-dark" data-bs-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item" [class.active]="isFirst" *ngFor="let data of sliderImages; first as isFirst">
      <div class="carousel-image" [style.background-image]="'url('+data+')'"></div>
      <div class="carousel-caption d-none d-md-block text-start">
        <h5 class="display-2 fw-bolder style-font text-primary">Dream up</h5>
        <p class="fs-5 text-info">Ambition accepted. Learn the latest skills to reach your professional goals.</p>
      </div>
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>

<div class="container py-3">
  <h2 class="fw-bold">Top Courses</h2>
  <hr>
  <div class="row">
    <div *ngFor="let data of topCourses" class="col-md-3">
      <div class="card pointer" [routerLink]="'course/'+data.id">
        <img
          [src]="fileURI + data?.imageUrl"
          class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title fs-6 stretched-link">{{data.title}}</h5>
          <div class="card-text small text-muted">{{data?.instructorName}}</div>
          <div class="rating d-flex align-items-center">
            <span class="fw-bold fs-4">4.6</span>
            <span class="material-icons">star</span>
            <span class="material-icons">star</span>
            <span class="material-icons">star</span>
            <span class="material-icons">star</span>
            <span class="text-secondary">({{data?.enrolled || 0 | number}})</span>
          </div>
          <a href="#" class="btn btn-danger">{{data?.price === 0 ? 'Free' : data?.price | currency}} </a>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- top categories-->

<div class="container py-3">
  <h2 class="fw-bold">Top categories</h2>
  <hr>
  <div class="row">
    <div class="col-md-3" *ngFor="let data of topCategories">
      <div class="card mb-3 pointer" [routerLink]="'courses/' + data?.name">
        <div class="text-center d-flex align-items-center justify-content-center text-muted h4">
          {{data?.name}}
        </div>
      </div>
    </div>
  </div>
</div>


