<div class="container">
  <h1 class="fw-bold">Courses</h1>
  <div class="d-flex justify-content-center align-items-center flex-nowrap mb-3">
    <div class="input-group me-auto">
      <span class="input-group-text material-icons" id="basic-addon1">search</span>
      <input type="text" class="form-control" placeholder="Search here..." style="max-width: 400px">
    </div>
    <button class="btn btn-danger text-nowrap">New Course</button>
  </div>
  <div>
    <div class="table-responsive">
      <table class="table">
        <thead>
        <tr>
          <th scope="col">Title</th>
          <th scope="col">Thumbnail</th>
          <th scope="col">Created</th>
          <th scope="col">Actions</th>
        </tr>
        </thead>
        <tbody>
        <tr>
          <th scope="row">1</th>
          <td>Mark</td>
          <td>Otto</td>
          <td style="width: 100px">
            <button class="btn btn-sm" matTooltip="Edit"><span class="material-icons fs-6">edit</span></button>
            <button class="btn btn-sm" matTooltip="delete"><span class="material-icons fs-6">delete</span></button>
          </td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
