<h2 mat-dialog-title>Section</h2>
<mat-dialog-content class="mat-typography">
  <form action="" class="pb-3" [formGroup]="lessonForm">
    <div class="mb-3">
      <label for="" class="form-label">Title</label>
      <input type="text" class="form-control" formControlName="title">
    </div>
    <div class="mb-3">
      <label for="" class="form-label">Lesson Type</label>
      <div>
        <mat-radio-group aria-label="Select an option" formControlName="type">
          <mat-radio-button value="article">Article</mat-radio-button>
          <mat-radio-button value="video">Video</mat-radio-button>
        </mat-radio-group>
      </div>
    </div>
    <div class="mb-3" *ngIf="type==='article'">
      <label for="" class="form-label">Article</label>
      <ckeditor [editor]="Editor" formControlName="content"></ckeditor>
    </div>
    <div class="mb-3" *ngIf="type==='video'">
      <label for="formFile" class="form-label">Upload Video</label>
      <input class="form-control" type="file" id="formFile" (change)="onChanageHandler($event)">
    </div>
  </form>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close color="warn">Cancel</button>
  <button mat-button color="primary" (click)="save()">Save</button>
</mat-dialog-actions>
