<div class="form-container">
  <main class="form-signin text-center">
    <form [formGroup]="loginFormGroup" (ngSubmit)="login()">
      <h1 class="h3 mb-3 fw-normal">Log In to Your Account</h1>

      <div class="form-floating">
        <input type="email" class="form-control" name="email" id="floatingInput" placeholder="name@example.com" formControlName="email">
        <label for="floatingInput" >Email address</label>
      </div>
      <div class="form-floating">
        <input type="password" class="form-control" id="floatingPassword" placeholder="Password" formControlName="password">
        <label for="floatingPassword">Password</label>
      </div>

      <div class="checkbox mb-3">
      </div>
      <button class="w-100 btn btn-lg btn-danger" type="submit">Log in</button>
      <p class="mt-5 mb-3 text-muted">© 2021</p>
    </form>
  </main>
</div>
