<h2 mat-dialog-title>Section</h2>
<mat-dialog-content class="mat-typography">
  <form action="" class="py-3">
    <div class="mb-3">
      <label for="" class="form-label">Title</label>
      <input type="text" class="form-control">
    </div>
    <div class="mb-3">
      <label for="" class="form-label">Description</label>
      <input type="text" class="form-control">
    </div>
  </form>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close color="warn">Cancel</button>
  <button mat-button color="primary" [mat-dialog-close]="true" cdkFocusInitial>Save</button>
</mat-dialog-actions>
