<div class="bg-dark">
  <div class="container py-3">
    <h1 class="display-4 fw-bold text-white">Shopping Cart</h1>
  </div>
</div>

<div class="container py-3">
  <div class="row">
    <div class="col-md-8 mb-3">
      <div class="mb-3 fw-bold">{{cart?.courses?.length || 0}} Courses in Cart</div>
      <div class="p-2 card bg-light border-1 shadow-sm" *ngFor="let data of cart?.courses">
          <div class="d-flex gap-2">
            <img class="float-start d-block" width="150px" [src]="fileURI + data?.imageUrl" alt="">
            <div>
              <h6 class="fw-bold mb-0">{{data.title}}</h6>
              <small class="text-muted">By {{data?.instructorName}}</small>
              <h6 class="fw-bold text-warning mb-1">{{data?.price===0? 'Free': data?.price | currency}}</h6>
              <div><a class="pointer link-secondary" (click)="removeItem(data?.id)">remove</a></div>
            </div>
          </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="mb-3 fw-bold">Total</div>
      <div>
        <div class="display-5 fw-bolder">{{total | currency}}</div>
        <div class="d-grid my-3">
          <button class="btn btn-lg btn-danger d-block" (click)="checkout()">Check out</button>
        </div>
      </div>
    </div>
  </div>
</div>
